<mtapp:setting
    id="basename_tag"
    label="<__trans phrase="Relationship between basename of field tags">">
<p><textarea id="basename_tag" name="basename_tag" class="text low"><mt:if name="basename_tag" escape="html"><mt:var name="basename_tag"></mt:if></textarea></p>
<p><__trans phrase="Format is basename:tag, and one line for each item."></p>
</mtapp:setting>
